.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
    min-height: 100vh;
    }
    
.contact__content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap:10px;
    margin-top: 3rem;
}

.contact__content h3 ,p{
    text-align: center;
    align-self: center;
    
}

.contact__content p{
    line-height: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
    max-width: 300px;
    text-align: justify;
}

.contact__content img{
   max-width: 100%;
   height: auto;
   border-radius: 10px;
} 


.footer__contact{
    overflow: hidden;
    height: auto;
    
}

.contact__form{
    width: 100%;
    display: grid;
    place-items:center;
    margin-top: 2rem;
} 

.form__contact{
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
    border: 1px solid black;
    margin-top: 3rem;
}

.form__contact label{
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
}

.form__contact input{
    width: 100%;
    padding-left: 0.5rem;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    
}

.form__contact textarea{
    width: 100%;
    height: 150px;
    border-radius: 0.4rem;
    padding: 0.5rem;
    
}

.btn__submit{
    padding: 0;
    margin-top: 10px;
    text-transform: capitalize;
    max-width: 200px;
}

