.header__home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.header__home-image{
    width: 100%;
    height:150px;
}

.head__text1{
    align-self: flex-start;
    padding-top: 2rem;
}

.head__text2{
    align-self: flex-start;
    text-transform: capitalize;
    padding-top: 0.8rem;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.head__text3{
    align-self: flex-start;
    padding-top: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    
}

.header__btn{
    align-self: flex-start;
    margin-top: 1rem;
    text-transform: capitalize;
}


.main__container{
    width: 100%;
    display: grid;
   place-items:center;
   }
   
.main__container--one{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 1rem;
}

.sec__one__text{
    padding-top: 2.5rem;
    padding: 1rem;
    align-self: center;
    text-align: center;
}

.sec__one__text2{
    font-size: 1.7rem;
    line-height: 2rem;
    align-self: center;
    text-align: center;
}

.sec__one__para{
    font-size: 1.4rem;
    line-height: 1.7rem;
    align-self: center;
    text-align: center;
    padding-top: 1rem;
}

.container__one--icons{
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container__section__two{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 1.5rem;
}

.section__two--image{
    width: 100%;
    height: 300px;
}

.img__section__two{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.section__two__content{
    padding: 1rem;
    align-self: flex-start;
}

.section2__text1 , .section2__text2{
    padding: 0.6rem;
}




.section2__text2{
    padding-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.btn__two{
    margin-left: 0.5rem;
}


.section__three{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;
}

.head3__text1 , .head3__text2 , .head3__text3{ 
    align-self: center;
    text-align: center;
    padding: 0.2rem;
}

.head3__text2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
}

 .head3__text3{
     line-height: 1.5rem;
     font-size: 1rem;
 }

.card__section{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-gap:20px;
    margin-bottom: 2rem;
    }

.card__body{
     width: 250px;
     height: 300px;
     padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.4rem;
}

.card__text , .card__para{
    align-self: flex-start;
}

.card__text{
    padding-top: 2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
}

.card__para{
      text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.7rem;
    }

.btn__team{
    text-transform: capitalize;
    align-self: center;
}

.text__footer{
    padding-top: 1rem;
}





@media(min-width:768px){

   .header__home-image{
       height: 200px;
   }

    .header__home{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 3rem;
    }
    
    
 
    
    .header__content{
        display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    }
    
 
.main__container{
    display: grid;
    place-items:center;
}





.sec__one__text2{
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    align-self: center;
    max-width: 350px;
}


.sec__one__para{
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    align-self: center;
    max-width: 350px;
}

.btn__learn{
    margin-top: 1rem;
}

.sec__one__para{
    line-height: 2rem;
}

.sec__one__text2{
    line-height: 2rem;
}
  
.container__one--icons{
    
    flex-direction: row;
    gap:30px;
    flex-wrap:wrap;
    flex-basis: 80px;
    max-width: 500px;
    }
    
.container__one--icons img{
    
    align-self: flex-start;
    width: 100px;
    height: 50px;
    
}    


.container__section__two{
    display: grid;
    place-items:center;
    margin-top: 5rem;
}

.section__two__content{
    max-width: 400px;
    margin: auto;
}

.img__section__two{
    height: 300px;
}

.head3__text3{
    max-width: 300px;
    }
    
.card__section{
    margin-top: 3rem;
    grid-template-columns: repeat(2,auto);
    grid-gap:30px;
    margin-bottom: 3rem;
    }    
    
.section__three{
    padding-bottom: 4rem;
}    
   
}


@media(min-width:1024px){
    .header__home{
        flex-direction: row-reverse;
         max-width: 800px;
       
    }
    
     .header__content{
        
    max-width: 50%;
    } 
   
   .header__home-image{
       width: 50%;
       margin-left: 5rem;
       height: 250px;
   } 
   
   
   .sec__one__para{
       max-width: 400px;
       line-height: 2rem;
   }
   
   
  .container__section__two{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 5rem;
   padding: 2rem;
   max-width: 950px;
}

.section__two__rev{
    flex-direction: row-reverse;
}

.card__section{
    margin-top: 3rem;
    grid-template-columns: repeat(4,auto);
    grid-gap:30px;
    margin-bottom: 3rem;
    }    
    
   .card__body{
     width: 200px;
     height: 300px;
    
    }
 

    
}    
